
.controls {
    top: 30px;
    right: 30px;
    position: absolute;
}

.controls > .left, .controls > .right {
    height: 48px;
    background: var(--white);
    width: 48px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.controls > .left {
    border-radius: 8px 0 0 8px;
    border-right: 1px solid var(--gray);
}
.controls > .right {
    border-radius: 0 8px 8px 0;
}

.controls > .left::after, .controls > .right::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 4px;
    background: var(--darkblue);
}
