
.controls {
    top: 30px;
    right: 30px;
    position: absolute;
    display: flex;
}

.controls img {
    width: 18px;
    height: 18px;
}

.controls > .left, .controls > .right {
    height: 48px;
    background: var(--white);
    width: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.controls > .left {
    border-radius: 8px 0 0 8px;
    border-right: 1px solid var(--gray);
}
.controls > .right {
    border-radius: 0 8px 8px 0;
}
