#hero {
    /*height: calc(100vh - 88px);*/
    display: flex;
}

.banner {
    margin: 30px 0 0;
    background: var(--browngray);
    border-radius: 12px;
    position: relative;
    flex: 1;
}

.banner > h1 {
    width: 90%;
    margin: 130px auto 10px;
    max-width: 1050px;
    text-align: center;
}

.banner > .button {
    margin: 40px auto 10px;
}

h2 {
    margin-top: 15px;
}

p {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
}

.split-row {
    display: flex;
    justify-content: space-between;
}

.thin-header {
    max-width: 350px;
}

.side {
    display: flex;
    align-items: center;
}

.bar {
    height: 100%;
    margin-right: 30px;
    background: var(--darkblue);
    width: 3px;
}

.list-row {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.list-item {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background: var(--sectiongray);
}

.card {
    flex: 1;
    margin-right: 20px;
    background: var(--sectiongray);
    border-radius: 10px;
    position: relative;
}

.card-small {
    height: 300px;
}

.card-large {
    height: 500px;
}

.card:last-child {
    margin-right: 0;
}

.card > .button {
    position: absolute;
    width: auto;
    text-align: left;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.list-card {
    flex: 1;
    margin-right: 40px;
}

.list-card:last-child {
    margin-right: 0;
}

.list-card > h4 {
    margin-top: 25px;
}

.list-card > p {
    margin-top: 15px;
}

section {
    margin-top: 40px;
    margin-bottom: 110px;
}