#hero {
    /*height: calc(100vh - 88px);*/
    display: flex;
}

.banner {
    margin: 30px 0 0;
    background: var(--browngray);
    border-radius: 12px;
    position: relative;
    flex: 1;
}

.banner > * {
    z-index: 3;
    position: relative;
}

.banner > .banner-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    width: 100%;
    z-index: 0;
}

.banner > .banner-cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.55);
    z-index: 1;
}

.banner > h1 {
    width: 90%;
    margin: 130px auto 10px;
    max-width: 1050px;
    text-align: center;
}

.banner > .button {
    margin: 40px auto 10px;
}

h2 {
    margin-top: 15px;
}

p {
    color: var(--gray);
    font-weight: 400;
    font-size: 16px;
}

.thin-header {
    max-width: 350px;
}

.side {
    display: flex;
    align-items: center;
}

.bar {
    height: 100%;
    margin-right: 30px;
    background: var(--darkblue);
    width: 3px;
}

.list-item {
    width: 60px;
    height: 60px;
    border-radius: 10px;
}
.list-item.shadow {
    background: var(--sectiongray);
}


.card:last-child {
    margin-right: 0;
}

.card > .button {
    position: absolute;
    width: auto;
    text-align: left;
    bottom: 40px;
    left: 40px;
    right: 40px;
}

.list-card {
    flex: 1;
    margin-right: 40px;
}

.list-card:last-child {
    margin-right: 0;
}

.list-card > h4 {
    margin-top: 25px;
}

.list-card > p {
    margin-top: 15px;
}

section {
    margin-top: 40px;
    margin-bottom: 110px;
}