.inner > p {
    color: var(--blue);
    font-weight: 600;
    font-size: 18px;
}

.right-icon {
    width: 18px;
    height: 18px;
}
.right-icon > img {
    height: 100%;
    width: 100%;
}

.dir {
    margin: 10px 15px;
}

.select {
    margin: 10px 15px;
}

.split {
    margin: 0 15px;
    border-bottom: 1px solid var(--sectiongray);
}

.inner {
    display: flex;
    padding: 12px 15px 10px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    transition: color 0.2s ease;
    color: transparent;
    cursor: pointer;
    border-radius: 5px;
    text-transform: capitalize;
}

.dir.open > .inner, 
.subdir.active > .inner, 
.subdir.active > a > .inner,
.select.open > .inner {
    color: var(--sectiongray);
    background: currentColor;
}

.subdir {
    padding: 10px 15px 0;
}

.checkbox {
    padding: 5px 15px 0;
} 

.label {
    padding: 5px 15px 0;
}

.range {
    padding: 0px 15px 0;
}

.checkbox input {
    margin-right: 10px;
}

.subdir .checkbox {
    padding: 5px 25px;
}