.page {
    display: flex;
    gap: 30px;
}

#filter {
    width: 300px;
    border: 1px solid var(--sectiongray);
    border-radius: 10px;
    height: fit-content;
}

#results {
    flex: 1;
    margin: 20px 0;
}

#sort {
    width: 240px;
    border: 1px solid var(--sectiongray);
    border-radius: 10px;
    height: fit-content;
    position: absolute;
    z-index: 5;
    background: var(--white);
}

#sort .select {
    margin: 5px;
}

.rel {
    width: 240px;
    position: relative;
}

p {
    color: var(--blue);
    font-weight: 500;
    font-size: 18px;
}

.cap {
    text-transform: capitalize;
}

.card-text {
    margin-top: 15px;
}

.card-text > p {
    margin-top: 10px;
}


@media(max-width: 1436px){
    .list-products .db-4 {
        min-width: 300px;
        max-width: 50%;
        flex-basis: calc(50% - 20px);
    }
}

@media (min-width: 1060px) and (max-width: 1302px) {
    .card-large {
        height: calc(500 / 1302 * 100vw);
    }
}

@media(max-width: 1060px){
    .page {
        flex-wrap: wrap;
    }
    #results {
        min-width: 100%;
        max-width: 100%;
    }
}

@media(max-width: 690px){
    .list-products .db-4 {
        min-width: 0;
        max-width: 100%;
        flex-basis: 100%;
    }
    .sorting {
        width: 100%;
        margin-top: 10px;
        margin-bottom: 40px;
    }
}

@media(max-width: 445px){
    .card-large {
        height: calc(500 / 400 * 100vw);
    }
}